body {
    background-color: black;
}

.header-text {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#e4b46c;
}

.homepage {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,1)),
    url("images/street.jpg");
    background-color: #cccccc;
    background-size: cover;
    height:300px;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#e4b46c;
    font-size: 22px;
    line-height: 1.5;
}

h1 {
    font-weight: 900;
}

.brad {
    margin-top: 50px;
  margin-bottom: 75px;
  margin-right: 150px;
  margin-left: 50px;
}

.bizname {
    color:#e4b46c;
    font-family: "Arial Black";
    font-size: 25px;
    display: inline;
    margin: 15px;
}

.inline-block {
    vertical-align: middle;
}

a {
 color: #e4b46c;
 font-size: 15px;
 text-align: center;
}

.textcenter {
    text-align:center;
}

.float-right {
    float: right;
    margin-right: 40px;
}

.evade {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,1)),
    url("images/capone.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.flyradar {
    color: #e9b037 !important
}

.article {
    text-align: left;
    padding-right: 750px;
    padding-left: 200px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.marketing-style {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1)),
    url("images/heheh.jpg");
    background-color:#cccccc;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.ad-dist {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1)),
    url("images/addist.png");
    background-color:#cccccc;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.bigmarkets {
background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,1)),
url("images/ushistcar.png");
background-color: #cccccc;
background-size: cover;
background-position: center;
height: 300px;
}

.list li {
    color:#e4b46c;
    font-size: 23px;
    padding-bottom: 0.2em;
    padding-top: 0.1em;
}

.list {
    padding-left: 250px;
    list-style-type:disc;
}

.leadbiz {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,1)),
    url("images/cokie_auto_x1.jpg");
    background-color: #cccccc;
    background-size: cover;
}

.sameline {
    float: right;
    margin-right: 225px;
    margin-top: 50px;
    margin-left: 40px;
}

.cucc {
    float: right;
}